@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-200;
}

svg {
  @apply transition-colors duration-0;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* .general-bg {
  background-image: linear-gradient(#161616, #104a54 ,#15798b),
  url("/noise-bg.jpeg");
} */

/* .general-bg {
  background-image: url("/night-bg.jpeg");
} */

@layer utilities {
  .layout-container {
    width: 90%;
}
@media (min-width: 640px) {
    .layout-container {
        max-width: 640px;
    }
}
@media (min-width: 768px) {
    .layout-container {
        max-width: 768px;
    }
}
@media (min-width: 1024px) {
    .layout-container {
        max-width: 1024px;
    }
}
@media (min-width: 1280px) {
    .layout-container {
        max-width: 1280px;
    }
}
@media (min-width: 1536px) {
    .layout-container {
        max-width: 1536px;
    }
}
  .text-balance {
    text-wrap: balance;
  }
  .background {
    background-color: #161616;
  }
  .background-2 {
    background-color: #212121;
  }
  .background-card {
    background-color: #2b2a2a;
  }
  /* .background-nav {
    background-color: #0d0f11;
  } */
  .header-bg {
    background-color: #330c35; /* bg-fuchsia-900 ; #701A75 altered to be darker */
  }
  .white {
    color: #ffffff;
  }
  .light {
    background-color: #f5efe6
  }

  .light-2 {
    background-color: #fceacd; /* ffdda9 */
  }

  .light-card {
    background-color: rgb(247, 213, 162);
  }

  .tool-txt-color {
    color: #8710f0;
  }

  .resume-btn-dark {
    border: 1.5px solid rgb(59 130 246);
    color: rgb(59 130 246);
    transition: transform 0.4s ease; /* Transition for smooth color and border change */
  }

  .resume-btn-light {
    border: 1.5px solid #000;
    color: #000;
    transition: transform 0.8s ease; /* Adjust the duration and timing function as needed */
    /* transition: border-color 0s ease, color 0.6s ease; */
  }

  .resume-btn-dark:hover {
    background-color: rgb(59 130 246);
    color: #ffffff;
    box-shadow: 0 0 10px 5px rgba(38, 128, 197, 0.7); /* Add a glow effect on hover */
    --tw-scale-x: 1.10;
    --tw-scale-y: 1.10;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
/* stretches border width left and right
  @keyframes animateLeftBorder {
    0% {
      border-left-width: 100%;
    }
    50% {
      border-left-width: 50%;
    }
    100% {
      border-left-width: 100%;
    }
  }

  .left-border {
    border-left: 2px solid white;
    animation: animateLeftBorder 2s infinite;
  } */

  /* left border bottom goes up and top comes down, meets in the middle */
  /* @keyframes animateLeftBorder {
    0%, 100% {
      transform: scaleY(1);
    }
    50% {
      transform: scaleY(0);
    }
  }
  
  .left-border-light {
    position: relative;
  }
  
  .left-border-light::before,
  .left-border-light::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 2px;
    background-color: white;
    animation: animateLeftBorder 16s infinite;
  }
  
  .left-border-light::before {
    top: 0;
    height: 50%;
    transform-origin: top;
  }
  
  .left-border-light::after {
    bottom: 0;
    height: 50%;
    transform-origin: bottom;
  }

  .left-border-dark {
    position: relative;
  }
  
  .left-border-dark::before,
  .left-border-dark::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 2px;
    background-color: black;
    animation: animateLeftBorder 16s infinite;
  }
  
  .left-border-dark::before {
    top: 0;
    height: 50%;
    transform-origin: top;
  }
  
  .left-border-dark::after {
    bottom: 0;
    height: 50%;
    transform-origin: bottom;
  } */

  
  /* stretches div up and down
  @keyframes animateLeftBorder {
    0% {
      transform: scaleY(1);
    }
    50% {
      transform: scaleY(0.5);
    }
    100% {
      transform: scaleY(1);
    }
  }
  
  .left-border {
    border-left: 2px solid white;
    height: 100%;
    display: inline-block;
    animation: animateLeftBorder 2s infinite;
  }
   */

   /* @keyframes animateLeftBorder {
    0%, 100% {
      transform: scaleY(1);
    }
    50% {
      transform: scaleY(0);
    }
  }
  
  .left-border-light {
    position: relative;
  }
  
  .left-border-light::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: white;
    transform-origin: top;
    animation: animateLeftBorder 8s infinite;
  }

  .left-border-dark {
    position: relative;
  }
  
  .left-border-dark::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: black;
    transform-origin: top;
    animation: animateLeftBorder 8s infinite;
  }
   */

  /* .resume-btn-light:hover {
    background-color: #c52626;
    border: 1.5px solid transparent;
    color: #fff;
    box-shadow: 0 0 10px 5px rgba(239, 19, 8, 0.7);
  } */

  .resume-btn-light:hover {
    --tw-scale-x: 1.12;
    --tw-scale-y: 1.12;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .btn-transition-dark {
    /* position: relative;
    display: inline-block; */
    /* font-size: 2em; */
    /* font-weight: 800; */
    color: white;
    overflow: hidden;
    background: linear-gradient(to right, #2680c5, #1494f6 50%, white 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease, transform 0.5s ease, border-color 0.4s ease;
  }
  
  .btn-transition-dark:hover {
    background-position: 0 100%;
    border-color: #2680c5;
    --tw-scale-x: 1.25;
    --tw-scale-y: 1.25;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    /* text-shadow: 0 0 4px #1494f6; */
  }

  .btn-transition-light {
    /* position: relative;
    display: inline-block; */
    /* font-size: 2em; */
    /* font-weight: 800; */
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease, transform 0.5s ease;
  }
  
  .btn-transition-light:hover {
    background-position: 0 100%;
    --tw-scale-x: 1.25;
    --tw-scale-y: 1.25;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .text-transition-dark {
    /* position: relative;
    display: inline-block; */
    /* font-size: 2em; */
    /* font-weight: 800; */
    color: white;
    overflow: hidden;
    background: linear-gradient(to right, #2680c5, #1494f6 50%, white 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease, transform 0.5s ease;
  }
  
  .text-transition-dark:hover {
    background-position: 0 100%;
    --tw-scale-x: 1.25;
    --tw-scale-y: 1.25;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    /* text-shadow: 0 0 4px #1494f6; */
  }

  .text-transition-light {
    /* position: relative;
    display: inline-block; */
    /* font-size: 2em; */
    /* font-weight: 800; */
    color: black;
    overflow: hidden;
    background: linear-gradient(to right, #c52626, #f41414 50%, black 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease, transform 0.5s ease;
  }
  
  .text-transition-light:hover {
    background-position: 0 100%;
    --tw-scale-x: 1.25;
    --tw-scale-y: 1.25;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .text-small {
    font-size: 2.8rem;
    line-height: 2.8rem;
  }

  .text-small-2 {
    font-size: 2.9rem;
    line-height: 2.8rem;
  }

  .text-heading {
    font-size: 5rem;
    line-height: 5.5rem;
  }

  .text-subheading {
    font-size: 2.2rem;
    line-height: 2.6rem;
  }

  .text-lesser-subheading {
    font-size: 1.8rem;
    line-height: 2rem;
  }
  
  .text-quote {
    font-size: 1.5rem;
    line-height: 2rem;
    font-display: italic;
  }

  .text-section-title {
    font-size: 3.5rem;
    line-height: 4rem;
  }

  /* mobile versions */
  
  .mob-text-small {
    font-size: 2.2rem;
    line-height: 2.2rem;
  }

  .mob-text-heading {
    font-size: 4rem;
    line-height: 6rem;
    justify-self: center;
    text-wrap: wrap;
  }

  .mob-text-subheading {
    font-size: 2rem;
    line-height: 2.6rem;
  }

  .mob-text-lesser-subheading {
    font-size: 1.4rem;
    line-height: 2rem;
  }
  
  .mob-text-quote {
    font-size: 1.2rem;
    line-height: 2rem;
    font-display: italic;
  }
  
  /* .css-orb {
    background-image: radial-gradient(ellipse at 50% 50%, rgb(107 96 255 / 1) 0%, rgb(133 124 255 / 0) 56.61%);
  } */

  /* .img-bg-right {
    z-index: 1;
    width: 31%;
    position: absolute;
    top: 2%;
    bottom: 0%;
    left: auto;
    right: 0%;
  }

  .img-bg-right-mobile {
    z-index: 1;
    width: 31%;
    position: absolute;
    top: 2%;
    bottom: 0%;
    left: auto;
    right: 0%;
  }

  .img-bg-left {
    z-index: 1;
    width: 31%;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: auto;
  } */


  /* Fonts */
  /* Merriweather */
  .merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .merriweather-light-italic {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .merriweather-regular-italic {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .merriweather-bold-italic {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .merriweather-black-italic {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
  }

  /* Roboto */
  .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
}

